.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.char {
    padding: 50px;
    margin: 10px;
    background-color: rgb(180, 2, 2);  
    border-radius: 10px;
}
.char:hover {
    background-color: rgb(255, 98, 98);
    transform: scale(1.1);
}

.char-icon {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.char-link {
    padding: 5px;
}
.char-title {
    color: white;
    margin: 10px;
    align-self: center;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(99, 14, 14);  
}

.char-portrait {
    animation-name: fadeInRight;
    animation-duration: 0.75s;
}

@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }